html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background-color: white;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: white;
}
